.ProtectedLayout {
    display: grid;
    width: 100%;
    flex: 1;
    grid-template-columns: 250px auto;

    &__navBar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #F2F4F4;
        width: 100%;

        &__item {
            margin:10px;
            text-decoration: none;
            font-size: 18px;
            color: #2E4053;
            font-weight: 500;

            &--active {
                text-decoration: underline;
                font-weight: bold;
                text-underline-offset: 5px;
            }

            &>button {
                color: white;
            }
        }
        
        &__menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style-type: none;
            padding: 0;
        }
    }

    &__content {
        display: flex;
        width: 100%;
        flex: 1;
        background-color: #002B52;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .ProtectedLayout{
        grid-template-rows: 80px auto;
        grid-template-columns: 1fr;

        &__navBar {
            flex-direction: row;
            position: sticky;
            top: 0;

            &__menu {
                flex-direction: row;
            }
        }
    }
}